API_ID=10399315 # get this value from my.telegram.org
API_HASH=0ca343b34d6fb43d210b03eb0fb9b973 # get this value from my.telegram.org
BOT_TOKEN=5361700492:AAGAubX3G4uF-od-jolAD0wpcQwzTcrIwow # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://acha:acha@cluster0.tkzzj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001568369079 # get this value from in your log group 
MUSIC_BOT_NAME=ɴɪᴅʜɪ # your music bot name 
STRING_SESSION=BQA563NqjrZXvFZlGyHZdEWW6PMkhlXX4QxfTwhWoddK5lwKyV-rYWI5AVdWZplyQhQMjGibeA0ksD_ydBP6Q-RyZMn7-LZDZUc8s2PH0qEEoa8t2iIke_QtzUbxBwdElPcdk2Z-dgYxhpm_I6dZX9HoTiEvTFO7abF-u6mi98EEeCMJoacssmXVGwoXH_0-QmvpLAgv0rvtnELTHH7Np0FXboEvVomL23dBhUohJe5AEsr_AW4mMbr_t9t4oGzc_PpGpO5YHnuV6_rO-qgd_OZ44UC96RCWMtUOHLTqtrHt3uuRGXaSMZR13bJer1alvHiKy_5f1t0NlsiDfjH0W1jEAAAAATFROn4A
